#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

#map {
  width: 100%;
  height: 700px;
  margin: 10px;
}

#leaflet-button {
  height: 44px;
  width: 44px;
  align-items: center;
  justify-content: center;
  padding: 0;
}

#footer-button {
  height: 44;
  width: 44;
  background-color: transparent;
  border-color: transparent;
}
