#root {
  margin: 0 auto;
  text-align: center;
  font-size: 16px;
  position: relative;
  box-sizing: border-box;
}

#map {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(100vh - 5rem); /* Adjust for navbar height */
  margin-bottom: 5rem;
}

#leaflet-button {
  height: 44px;
  width: 44px;
  align-items: center;
  justify-content: center;
  padding: 0;
}

#footer-button {
  height: 44;
  width: 44;
  background-color: transparent;
  border-color: transparent;
}

.text-btn {
  height: 50px;
  min-width: 100px;
  width: auto;
  background-color: #2A6041;
  color: #fff;

  font-size: calc(.875rem*var(--ifm-button-size-multiplier));

  border-style: none;
  border-radius: 5px;
}

.text-btn:hover {
  transition: 0.5s;

  background-color: #d3d3d3;

  color: #333;
}

.icon-btn {
  width: 40px;
  height: 40px;

  border-style: none;
  border-radius: 5px;
}

.icon-btn:hover {
  transition: 0.5s;
  cursor: pointer;

  background-color: #d3d3d3;

  color: #333;
}

.table-div {
  display: flex;
  justify-content: center;
  width: 100%;
}

.table-div table {
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

  border-collapse: collapse;
  border-radius: 10px;
}

.table-div th {
  background-color: #2ceaa3;
  text-align: left;
  padding: 12px;
  cursor: pointer;
}

.table-div td {
  padding: 10px;
  border-bottom: 1px solid #ddd;
  text-align: left;
}

.table-div tr:hover {
  background-color: #d3d3d3;
}
