:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  --bg-darkgreen: #2a6041;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
}

button {
  background-color: #2ceaa3;
}

.page-title {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  display: flex;
  margin: 5rem 11rem;
  padding-bottom: 1rem;
  font-size: 2rem;
  font-weight: bold;
}

.edit-button {
  display: flex;
  align-items: center;
  background-color: #e7c055;
  color: white;
  padding: 10px;
  border-radius: 5px;
  outline: none;
  border: none;
  cursor: pointer;
  height: fit-content;
  gap: 5px;
}

.delete-button {
  background-color: #ea2c2c;
  display: flex;
  align-items: center;
  color: white;
  padding: 10px;
  border-radius: 5px;
  outline: none;
  border: none;
  cursor: pointer;
  height: fit-content;
  gap: 5px;
}
