:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
}

.form {
  width: 300px;
  margin: 0 auto;
}

.form input[type="text"],
.form input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
}

.form .submit-button {
  width: 50%;
  padding: 10px;
  background-color: #26b8d9;
  border-radius: 5px;
}

.form .submit-button:hover {
  background-color: #1d849b;
}
