.page {
  display: flex;
  flex-flow: row nowrap;
}

div.panel {
  display: flex;
  flex-flow: column wrap;

  height: 100vh;
  min-width: 360px;
}

div.panel button {
  border-style: none;
  border-radius: 5px;

  height: 50px;

  background: transparent;
  color: black;
  font-size: calc(.875rem*var(--ifm-button-size-multiplier));

  text-align: left;
}

.settings {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  display: flex;
  flex-flow: column wrap;
  position: relative;
}

.settings form {
  text-align: left;
  display: flex;
  flex-direction: column wrap;
  margin: 0;
  align-items: center;
  justify-content: center;
}

.settings form ul {
  list-style-type: none;
  margin-bottom: 0;
  padding: 0;
}

dialog form {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  flex-flow: column wrap;
}

.dialog {
  display: flex;
  justify-content: space-between;
  flex-flow: row nowrap;
  gap: 10px;
}

input {
  width: 15em;
  height: 2em;
}
.settings h5 {
  margin: 10px;
  padding: 0;
}
/*button {
  color: white;
  outline: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}*/

#deactivate {
  background-color: #e79c55;

  width: 200px;
}

#delete {
  position: absolute;
  left: 50%;
  top: 75%;
  transform: translate(-50%, -50%);
  background-color: #e79c55;
  font-size: 15px;
}

.edit {
  position: absolute;
  text-align: center;
  top: 50%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.sidebar button {
  background-color: #2ceaa3;
  color: black;
  position: absolute;
  left: 5px;
}
.sidebar {
  width: 200px;
  padding: 10px;
  position: fixed;
}
.sidebar ul {
  list-style-type: none;
  padding: 0;
  background-color: #2a6041;
}
.sidebar ul li {
  cursor: pointer;
  padding: 5px 10px;
  color: white;
}
.sidebar ul li:hover {
  background-color: #02111b;
  cursor: pointer;
}

 /* Style the buttons that are used to open and close the accordion panel */
.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
  background-color: #ccc;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
  padding: 0 18px;
  background-color: white;
  display: none;
  overflow: hidden;
} 
