/* Table List */

.button_arrows {
  margin-left: 8px;
  cursor: pointer;
  background-color: transparent;
  border: none;
  padding: 0;
}

/* Edit Page */

.edit {
  text-align: left;
  padding: 2rem 1rem;
  display: flex;
  flex-flow: column wrap;
  
  align-items: start;
}

.edit h3 {
  padding: 0;
  margin: 0;
}

.edit div.edit-title {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;

  padding: 0;
  margin: 0;

  height: 70px;

}

#cool-map {
  height: 100%;
  width: 100%;

  position: relative;
  z-index: 3;
}

