.group-list-page {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column wrap;
}

.group-list-page .title {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  width: 500px;
}

div.group-list {
  width: 500px;
}

div.group-list table {
  min-width: 500px;
}

 @media only screen and (max-width: 600px) {
   .group-list-page .title {
     width: 300px;
   }

   div.group-list {
     width: 300px;
   }

   div.group-list table {
     min-width: 300px;
   }
 }
